In [1]:
# Load the ipython-sql extension
%load_ext sql

# Connect to your MySQL database using the mysqlclient driver
%sql mysql://root:12345678@localhost

In [19]:
%sql CREATE DATABASE Aetheria;

 * mysql://root:***@localhost
   mysql://root:***@localhost/sakila
1 rows affected.

[]

In [28]:
%sql USE Aetheria;

 * mysql://root:***@localhost
   mysql://root:***@localhost/sakila
0 rows affected.

[]

In [22]:
%%sql
CREATE TABLE Player (
    ID INT AUTO_INCREMENT,
    Username VARCHAR(255),
    Password VARCHAR(255),
    PRIMARY KEY (ID)
);

CREATE TABLE Region (
    ID INT AUTO_INCREMENT,
    Name VARCHAR(255),
    Ruler VARCHAR(255),
    KingdomName VARCHAR(255),
    PRIMARY KEY (ID)
);

CREATE TABLE Guild (
    ID INT AUTO_INCREMENT,
    GuildName VARCHAR(255),
    GuildType VARCHAR(255),
    LeaderName VARCHAR(255),
    Description TEXT,
    NumOfMembers INT,
    FoundedYear YEAR,
    PRIMARY KEY (ID)
);

CREATE TABLE Team (
    ID INT AUTO_INCREMENT,
    TeamName VARCHAR(255),
    TeamSize INT,
    Kingdom VARCHAR(255),
    PRIMARY KEY (ID)
);

CREATE TABLE Question (
    ID INT AUTO_INCREMENT,
    Content TEXT,
    ChoiceOptions TEXT,
    Emotion VARCHAR(255),
    PRIMARY KEY (ID)
);

CREATE TABLE Enemy (
    ID INT TAUTO_INCREMENT,
    Type VARCHAR(255),
    Name VARCHAR(255),
    Level INT,
    HitPoints INT,
    WarCry TEXT,
    PRIMARY KEY (ID)
);

CREATE TABLE Event (
    ID INT AUTO_INCREMENT,
    Name VARCHAR(255),
    Time DATETIME,
    PRIMARY KEY (ID)
);


CREATE TABLE `Character` (
    ID INT AUTO_INCREMENT,
    PlayerID INT,
    Class VARCHAR(255),
    RegionID INT,
    TeamID INT,
    GuildID INT,
    Gold INT,
    Level INT,
    Name VARCHAR(255),
    Race VARCHAR(255),
    LastLogin DATETIME,
    PRIMARY KEY (ID),
    FOREIGN KEY (PlayerID) REFERENCES Player(ID),
    FOREIGN KEY (RegionID) REFERENCES Region(ID),
    FOREIGN KEY (TeamID) REFERENCES Team(ID),
    FOREIGN KEY (GuildID) REFERENCES Guild(ID)
);

CREATE TABLE Inventory (
    ID INT AUTO_INCREMENT,
    Size INT,
    Value INT,
    OwnerID INT,
    PRIMARY KEY (ID),
    FOREIGN KEY (OwnerID) REFERENCES `Character`(ID)
);

CREATE TABLE Item (
    ID INT AUTO_INCREMENT,
    ItemName VARCHAR(255),
    Value INT,
    ItemType VARCHAR(255),
    InventoryID INT,
    PRIMARY KEY (ID),
    FOREIGN KEY (InventoryID) REFERENCES Inventory(ID)
);

CREATE TABLE Quest (
    ID INT AUTO_INCREMENT,
    Description TEXT,
    RegionID INT,
    Type VARCHAR(255),
    RewardItemType VARCHAR(255),
    PRIMARY KEY (ID),
    FOREIGN KEY (RegionID) REFERENCES Region(ID)
);

CREATE TABLE NPC (
    ID INT AUTO_INCREMENT,
    Type VARCHAR(255),
    Dialogue TEXT,
    RegionID INT,
    QuestID INT,
    QuestionID INT,
    FirstName VARCHAR(255),
    LastName VARCHAR(255),
    Location VARCHAR(255),
    PRIMARY KEY (ID),
    FOREIGN KEY (RegionID) REFERENCES Region(ID),
    FOREIGN KEY (QuestID) REFERENCES Quest(ID),
    FOREIGN KEY (QuestionID) REFERENCES Question(ID)
);

CREATE TABLE Transaction (
    ItemID INT,
    CharacterID INT,
    Amount INT,
    FOREIGN KEY (ItemID) REFERENCES Item(ID),
    FOREIGN KEY (CharacterID) REFERENCES `Character`(ID)
);

CREATE TABLE Combat (
    CharacterID INT,
    Location VARCHAR(255),
    Date DATETIME,
    EnemyID INT,
    FOREIGN KEY (CharacterID) REFERENCES `Character`(ID),
    FOREIGN KEY (EnemyID) REFERENCES Enemy(ID)
);

 * mysql://root:***@localhost
   mysql://root:***@localhost/sakila
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [23]:
%sql SHOW FULL TABLES;

 * mysql://root:***@localhost
   mysql://root:***@localhost/sakila
14 rows affected.

[('Character', 'BASE TABLE'),
 ('Combat', 'BASE TABLE'),
 ('Enemy', 'BASE TABLE'),
 ('Event', 'BASE TABLE'),
 ('Guild', 'BASE TABLE'),
 ('Inventory', 'BASE TABLE'),
 ('Item', 'BASE TABLE'),
 ('NPC', 'BASE TABLE'),
 ('Player', 'BASE TABLE'),
 ('Quest', 'BASE TABLE'),
 ('Question', 'BASE TABLE'),
 ('Region', 'BASE TABLE'),
 ('Team', 'BASE TABLE'),
 ('Transaction', 'BASE TABLE')]

In [24]:
%sql SELECT * FROM `Character`;

 * mysql://root:***@localhost
   mysql://root:***@localhost/sakila
0 rows affected.

[]