In [1]:
%load_ext sql
%sql mysql://root:lokum2002@localhost

In [2]:
%sql CREATE DATABASE Aetheria;

 * mysql://root:***@localhost
1 rows affected.

[]

In [3]:
%%sql 
CREATE TABLE Player (
    PlayerID INT PRIMARY KEY,
    Username VARCHAR(255),
    Password VARCHAR(255),
    ClassType VARCHAR(50),
    StartingRegion VARCHAR(50),
    ExperiencePoints INT,
    Gold INT
);

CREATE TABLE NPC (
    NPCID INT PRIMARY KEY,
    NPCName VARCHAR(255),
    NPCTitle VARCHAR(50),
    Region VARCHAR(50)
);

CREATE TABLE Item (
    ItemID INT PRIMARY KEY,
    ItemName VARCHAR(255),
    ItemType VARCHAR(50),
    Value INT
);

CREATE TABLE Quest (
    QuestID INT PRIMARY KEY,
    Description TEXT,
    Reward TEXT,
    GivenByNPCID INT,
    FOREIGN KEY (GivenByNPCID) REFERENCES NPC(NPCID)
);

CREATE TABLE Region (
    RegionID INT PRIMARY KEY,
    RegionName VARCHAR(255),
    Ruler VARCHAR(255)
);

CREATE TABLE Guild (
    GuildID INT PRIMARY KEY,
    GuildName VARCHAR(255),
    GuildType VARCHAR(50),
    LeaderPlayerID INT,
    FOREIGN KEY (LeaderPlayerID) REFERENCES Player(PlayerID)
);

CREATE TABLE Combat (
    CombatID INT PRIMARY KEY,
    PlayerID INT,
    NPCID INT,
    Outcome VARCHAR(50),
    FOREIGN KEY (PlayerID) REFERENCES Player(PlayerID),
    FOREIGN KEY (NPCID) REFERENCES NPC(NPCID)
);

 * mysql://root:***@localhost
(MySQLdb.OperationalError) (1046, 'No database selected')
[SQL: CREATE TABLE Player (
    PlayerID INT PRIMARY KEY,
    Username VARCHAR(255),
    Password VARCHAR(255),
    ClassType VARCHAR(50),
    StartingRegion VARCHAR(50),
    ExperiencePoints INT,
    Gold INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [3]:
%%sql 
CREATE TABLE Player (
    PlayerID INT PRIMARY KEY,
    Username VARCHAR(255),
    Password VARCHAR(255),
    ClassType VARCHAR(50),
    StartingRegion VARCHAR(50),
    ExperiencePoints INT,
    Gold INT
);

CREATE TABLE NPC (
    NPCID INT PRIMARY KEY,
    NPCName VARCHAR(255),
    NPCTitle VARCHAR(50),
    Region VARCHAR(50)
);

CREATE TABLE Item (
    ItemID INT PRIMARY KEY,
    ItemName VARCHAR(255),
    ItemType VARCHAR(50),
    Value INT
);

CREATE TABLE Quest (
    QuestID INT PRIMARY KEY,
    Description TEXT,
    Reward TEXT,
    GivenByNPCID INT,
    FOREIGN KEY (GivenByNPCID) REFERENCES NPC(NPCID)
);

CREATE TABLE Region (
    RegionID INT PRIMARY KEY,
    RegionName VARCHAR(255),
    Ruler VARCHAR(255)
);

CREATE TABLE Guild (
    GuildID INT PRIMARY KEY,
    GuildName VARCHAR(255),
    GuildType VARCHAR(50),
    LeaderPlayerID INT,
    FOREIGN KEY (LeaderPlayerID) REFERENCES Player(PlayerID)
);

CREATE TABLE Combat (
    CombatID INT PRIMARY KEY,
    PlayerID INT,
    NPCID INT,
    Outcome VARCHAR(50),
    FOREIGN KEY (PlayerID) REFERENCES Player(PlayerID),
    FOREIGN KEY (NPCID) REFERENCES NPC(NPCID)
);

 * mysql://root:***@localhost
(MySQLdb.OperationalError) (1046, 'No database selected')
[SQL: CREATE TABLE Player (
    PlayerID INT PRIMARY KEY,
    Username VARCHAR(255),
    Password VARCHAR(255),
    ClassType VARCHAR(50),
    StartingRegion VARCHAR(50),
    ExperiencePoints INT,
    Gold INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
%sql SHOW FULL TABLES;

 * mysql://root:***@localhost
(MySQLdb.OperationalError) (1046, 'No database selected')
[SQL: SHOW FULL TABLES;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
%sql USE Aetheria;

 * mysql://root:***@localhost
0 rows affected.

[]

In [6]:
%sql SHOW FULL TABLES;

 * mysql://root:***@localhost
0 rows affected.

[]

In [7]:
%%sql 
CREATE TABLE Player (
    PlayerID INT PRIMARY KEY,
    Username VARCHAR(255),
    Password VARCHAR(255),
    ClassType VARCHAR(50),
    StartingRegion VARCHAR(50),
    ExperiencePoints INT,
    Gold INT
);

CREATE TABLE NPC (
    NPCID INT PRIMARY KEY,
    NPCName VARCHAR(255),
    NPCTitle VARCHAR(50),
    Region VARCHAR(50)
);

CREATE TABLE Item (
    ItemID INT PRIMARY KEY,
    ItemName VARCHAR(255),
    ItemType VARCHAR(50),
    Value INT
);

CREATE TABLE Quest (
    QuestID INT PRIMARY KEY,
    Description TEXT,
    Reward TEXT,
    GivenByNPCID INT,
    FOREIGN KEY (GivenByNPCID) REFERENCES NPC(NPCID)
);

CREATE TABLE Region (
    RegionID INT PRIMARY KEY,
    RegionName VARCHAR(255),
    Ruler VARCHAR(255)
);

CREATE TABLE Guild (
    GuildID INT PRIMARY KEY,
    GuildName VARCHAR(255),
    GuildType VARCHAR(50),
    LeaderPlayerID INT,
    FOREIGN KEY (LeaderPlayerID) REFERENCES Player(PlayerID)
);

CREATE TABLE Combat (
    CombatID INT PRIMARY KEY,
    PlayerID INT,
    NPCID INT,
    Outcome VARCHAR(50),
    FOREIGN KEY (PlayerID) REFERENCES Player(PlayerID),
    FOREIGN KEY (NPCID) REFERENCES NPC(NPCID)
);

 * mysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%sql SHOW FULL TABLES;

 * mysql://root:***@localhost
7 rows affected.

[('combat', 'BASE TABLE'),
 ('guild', 'BASE TABLE'),
 ('item', 'BASE TABLE'),
 ('npc', 'BASE TABLE'),
 ('player', 'BASE TABLE'),
 ('quest', 'BASE TABLE'),
 ('region', 'BASE TABLE')]

In [9]:
%sql SELECT * FROM npc;

 * mysql://root:***@localhost
0 rows affected.

[]