In [ ]:
# Load the ipython-sql extension
%load_ext sql

# Connect to your MySQL database using the mysqlclient driver
%sql mysql://root:12345678@localhost

In [ ]:
%sql USE Aetheria

In [ ]:
##The class chat.py should be runned on terminal to test

In [ ]:
import mysql.connector
from datetime import datetime

# MySQL database connection
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345678',
    database='Aetheria'
)
cursor = conn.cursor()

def display_messages():
    # Retrieve the last 10 messages
    cursor.execute('''
        SELECT SenderID, Content, Timestamp
        FROM Message
        ORDER BY Timestamp DESC
        LIMIT 10
    ''')
    messages = cursor.fetchall()
    for message in messages:
        print(f"{message[0]}: {message[1]} ({message[2]})")

def send_message(content, sender_id, chat_id):
    # Insert the message into the database
    cursor.execute('''
        INSERT INTO Message (Content, SenderID, Timestamp, ChatID)
        VALUES (%s, %s, %s, %s)
    ''', (content, sender_id, datetime.now(), chat_id))
    conn.commit()

if __name__ == '__main__':
    while True:
        display_messages()
        user_input = input("Type your message (or 'exit' to quit): ")

        if user_input.lower() == 'exit':
            break

        # Assume a static sender_id and chat_id for simplicity
        sender_id = 2
        chat_id = 1

        send_message(user_input, sender_id, chat_id)

# Close the connection when done
conn.close()

In [9]:
%sql SELECT * FROM Message ;

 * mysql://root:***@localhost
0 rows affected.

[]

In [10]:
%sql SELECT * FROM ChatLog ;

 * mysql://root:***@localhost
0 rows affected.

[]

In [7]:
%sql DELETE FROM Message ;

 * mysql://root:***@localhost
21 rows affected.

[]

In [8]:
%sql DELETE FROM ChatLog ;

 * mysql://root:***@localhost
21 rows affected.

[]

In [25]:
%sql SELECT * FROM Message;

 * mysql://root:***@localhost
0 rows affected.

[]